/* biome-ignore lint/suspicious/noUnknownAtRules: i don't know how to fix this lint */
@tailwind base;
/* biome-ignore lint/suspicious/noUnknownAtRules: i don't know how to fix this lint */
@tailwind components;
/* biome-ignore lint/suspicious/noUnknownAtRules: i don't know how to fix this lint */
@tailwind utilities;

:root {
  --primary-blue: #3d7a94;
  --teal-accent: #33afaf;
  --light-gray: #f5f7fa;
}

body {
  margin: 0;
  font-family:
    "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-gray);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
